@import url(./NullStyle.css);
@import url(./Interface.css);
@import url(./BackGround.css);
@import url(./Inventory.css);
@import url(./Attacks.css);
@font-face {
  font-family: "Teletactile";
  src: url("../assets/Fonts/TeletactileRus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}